#root {
  width: 100%;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  flex: 1;
  width: 100%;
  float: left;
  height: 600px;
}

.register-button,
.login-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin: 5px 10px;
}

.register-button:hover,
.login-button:hover {
  background-color: #0056b3;
}
